.presentation {
	padding: 100px 50px;
	background-image: url("../img/road-medium.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% auto;
	color: white;
}

.presentation h1 {
	font-size: 2em;
	margin-bottom: 10px;
}

.presentation p {
	font-size: 1em;
	margin-bottom: 20px;
}

.presentation-button {
	display: inline-block;
	background-color: var(--pink-color);
	padding: 10px 20px;
	color: white;
	text-transform: uppercase;
	transform: skewX(20deg);

	transition: all 0.5s;
	margin-left: 20px;
}

.presentation-button:hover {
	transform: skewX(20deg) scale(1.4);
}

.presentation-button .text {
	display: block;
	transform: skewX(-20deg);

	transition: all 0.5s;
}

.presentation-button:hover .text {
	transform: skewX(-20deg) scale(calc(1 / 1.4));
}

/* Newsletter */

.newsletter {
	padding: 80px 50px;
	background-color: var(--gray-background);
	color: white;
	font-size: 2em;
	width: 100%;
}

.newsletter-fieldset {
	border: none;
}

.newsletter-fieldset > div {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.newsletter legend {
	text-align: center;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.newsletter input {
	color: white;
	flex-basis: 100%;
	background-color: transparent;
	border: 1px solid white;
	border-radius: 0px;
	padding: 20px;
	margin-bottom: 10px;
	outline: none;
	font-size: 0.5em;
}

.newsletter input:focus {
	background-color: white;
	color: black;
}

.newsletter button {
	display: block;
	color: white;
	padding: 20px 50px;
	transform: skewX(20deg);
	outline: 1px solid white;

	text-transform: uppercase;
	transition: all 0.3s;
}

.newsletter button:hover {
	outline: none;
	background-color: var(--pink-color);
}

.newsletter button .text {
	display: block;
	transform: skewX(-20deg);
}

/* Footer */

.footer {
	background-color: var(--gray-background);

	display: flex;
	flex-flow: row wrap;
	justify-content: center;

	font-size: 1.2em;

	padding-bottom: 50px;
}

.footer-logo {
	width: 100px;
	margin-bottom: 30px;
}

.footer-link-area {
	flex-basis: 100%;

	display: flex;
	justify-content: center;
}

.footer-link-area a {
	display: block;
	text-align: center;
	margin-bottom: 20px;
	color: white;
	border-bottom: 1px solid white;
	text-transform: uppercase;
	transition: border 0.5s;
}

.footer-link-area a:hover {
	border-bottom: 1px solid var(--pink-color);
}

.footer-link-area a .fa-arrow-right {
	margin-right: 10px;
	transition: transform 0.5s;
}

.footer-link-area a:hover .fa-arrow-right {
	transform: translateX(8px);
}

.footer .menu-social {
	font-size: 1.5em;
}

.footer-links-area {
	flex-basis: 100%;

	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

.footer-links-area a {
	display: inline-block;
	flex-basis: 100%;
	flex-grow: 1;
	text-align: center;

	color: var(--grey-color);
	margin-bottom: 25px;
}

.footer-links-area a:hover {
	color: var(--pink-color);
}