:root {
	--grey-color: #716b70;
	--pink-color: #e52d87;
	--dark-blue: #002f71;
	--light-blue-hover: rgb(242, 245, 248);
	--gray-background: rgb(50, 43, 43);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: AvantGarde-Demi,sans-serif;
}

body {
	background-image: url("../img/bg-angle-down.svg");
	background-repeat: no-repeat;
	background-position: top right;
	background-size: 40%;
}

a {
	text-decoration: none;
}

/* Clear button default style */

button {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

button:focus {
	outline: none;
}

/* Document */

.main-container {
	position: absolute;
	margin-top: 300px;
}

/* Fixed Header */

.main-header {
	position: fixed;
	top: 0;
	width: 100%;
	padding: 10px 30px;
}

.header-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-logo {
	width: 32px;
}

.header-buttons {
	display: flex;
	align-items: center;
}

.donate-button {
	color: var(--pink-color);
	text-transform: uppercase;
	text-decoration: underline;
	font-size: 1em;
	font-weight: bold;
	padding: 30px 20px;
	transition: 0.2s;
}

.donate-button:hover {
	color: white;
	background-color: var(--pink-color);
}

.header-search-button {
	font-size: 1.3em;
	margin-left: 35px;
	color: var(--grey-color);
}

.header-menu-button {
	margin-left: 35px;
	width: 36px;
	height: 36px;
}

.header-menu-button .bars {
	display: block;
	background-color: var(--grey-color);
	width: 100%;
	height: 1px;
}

.header-menu-button .bars::before,
.header-menu-button .bars::after {
	display: block;
	top: -10px;
	content: "";
	position: relative;
	background-color: var(--grey-color);
	height: 1px;

	transition: all 0.2s;
}

.header-menu-button .bars::after {
	top: 10px;
}

.header-menu-button:hover .bars::before,
.header-menu-button:hover .bars::after {
	height: 2px;
	transform: rotate(90deg) translate(10px, 0px);
}

.header-menu-button:hover .bars::after {
	transform: rotate(90deg) translate(-10px, 0px);
}

.dropdown-content {
	display: none;
}



/* Search box */

#searchArea {
	position: absolute;
	top: -100%;
	right: 0px;
	height: 100%;
	width: 100%;

	background-color: var(--pink-color);
	color: white;

	padding: 0px 40px;

	display: flex;
	align-items: center;

	transition: top 0.5s;
}

.header-search-form {
	flex-grow: 1;

	display: flex;

	border-bottom: 2px solid white;
	margin-top: 10px;
}

.header-search-area-text {
	flex-grow: 1;
	background-color: transparent;
	border: none;
	color: white;
	font-size: 1.2em;

}

.header-search-area-text::placeholder {
	color: rgba(255, 255, 255, 75%);
}

.header-search-area-text:focus,
.header-search-area-text:active{
	outline: none;
	background-color: transparent;
}

.header-search-area-button {
	color: white;
	font-size: 1.4em;
	margin-bottom: 5px;
}

#closeSearchButton {
	margin-left: 40px;
	font-size: 2em;
	color: white;
}

#searchArea.active {
	top: 0;
}


/* Off Canvas Menu */
.menu {
	position: fixed;
	top: 0px;
	right: 0px;
	width: 0px;
	height: 100%;

	overflow: auto;
}

.menu .container {
	width: 350px;

	background-color: white;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	align-content: flex-start;

	padding-top: 20px;

	font-size: 1.4em;
}

.menu-button-border {
	display: block;
	flex-grow: 1;
	flex-basis: 100%;
	height: 60px;
	text-align: left;

	padding: 0px 40px;

	border-top: 1px solid black;
}

.menu-button {
	text-transform: uppercase;
	color: var(--dark-blue);
	font-size: 1em;
}

.menu-button:hover {
	background-color: var(--light-blue-hover);
}

.menu-search {
	display: flex;
}

.menu-search-text {
	display: inline-block;
	border: none;
	flex-grow: 1;
	width: 0px;
	font-size: 1em;
}

.menu-search-text::placeholder {
	color: #7D7D7D;
}

.menu-search-text:focus {
	outline: none;
}

.menu-search-submit {
	font-size: 1em;
	color: var(--dark-blue);
}

.menu-info {
	flex-basis: 100%;
	flex-grow: 1;
	background-color: var(--gray-background);
	color: white;
	font-size: 0.8em;

	display: flex;
	flex-direction: column;

	padding: 50px 20px 20px 20px;
}

.menu-link {
 	color: var(--pink-color);
 	background-color: var(--gray-background);

 	flex-basis: 100%;
 	flex-grow: 1;

 	padding: 10px 20px;
 	font-size: 0.8em;

 	display: flex;
 	align-items: center;
 }

.menu-link:hover {
  	text-decoration: underline;
 }

.menu-link-text {
	flex-grow: 1;
}

.menu-link .fa-chevron-right {
	font-size: 1.5em !important;
}

.menu-social {
	flex-basis: 100%;
	flex-grow: 1;
	background-color: var(--gray-background);

	display: flex;
	justify-content: center;

	padding: 10px 0px 50px 20px;
}

.menu-social .icon {
	margin: 0px 15px;
	font-size: 1em;
	color: white;

	transition: color 0.5s;
}

.menu-social .icon:hover {
	color: var(--pink-color);
}

/* Off-canvas menu functionality*/

body.menu-active {
	overflow: hidden;
}

body.menu-active .menu {
	width: 350px;
}

body.menu-active .main-header {
	right: 350px;
}